html{
    width: 900px;
    font-family: 'Lucida Sans Unicode';
    background-color: rgb(197, 197, 184);
    margin: 15px;
    padding: center;
}
body{
    width: 900px;
    text-align: justify;
    margin: 0 auto;           
    padding: 3px 10px;
    border: rgb(188, 191, 192) 5px solid;
    background-color: white;
    border-radius: 20px;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.brown {
    color: rgb(152, 104, 36);
}
.green{
    color: rgb(13, 154, 13);
}

.image{
    display: flex;
    justify-content: center;
}

.aside{
    float: left;
    text-align: center;
    margin: 5pt;
    padding: 0pt;
    list-style-type: none;
}
.main{
    float: left;
    padding: 15px;
    margin-left: 20px; 
    margin-right: 20px;   
    border: 2px outset #b0b6b773;
    background: -moz-linear-gradient(bottom, rgba(213, 210, 210, 0.717), white);
}
li{    
    border: 2px outset rgba(177, 176, 176, 0.546);
    margin-bottom: 5px;
    padding: 1px;
    background: -moz-linear-gradient(bottom, rgb(111, 206, 43),white); 
}
li:hover{
    background: -moz-linear-gradient(bottom, khaki,white);
}
.selected{
    background: -moz-linear-gradient(bottom, khaki,white);
}
a{
    color: black;
}

footer{
    text-align: center;
}
li{    
    border: 2px outset rgba(177, 176, 176, 0.546);
    margin-bottom: 5px;
    padding: 1px;
    background: rgb(118, 199, 60);
}
li:hover{
    background: khaki;
}

h1{
    text-align: center;
    letter-spacing: .2em;
    color: rgb(13, 154, 13);
}
h2,h3{    
    margin-left: 2px;
    margin-right: 20px;
    margin-bottom: 0px;
}
h2{
    color: rgb(13, 154, 13);
}
h3{
    color: rgb(152, 104, 36);
}

hr{
    color: rgba(101, 206, 101, 0.459);
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px; 
}